.container-quantity {
    width: 82px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 0 solid white;
}
  
.item-quantity {
    width: 51px;
    height: 56px;
    color: black;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 10px 0 0 10px;
    background-color: white;
}
  
.plus-minus {
    display: flex;
    justify-content: center;
    width: 31px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
  
.item-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #DC9F96;  
    border-bottom: 0.5px solid white;
    border-radius: 0 10px 0 0;
    color: white;
    
}
.item-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #DC9F96;  
    border-top: 0.5px solid white;
    border-radius: 0 0 10px 0;
    color: white;
}

.planty-class {
    display: flex;
    background-color: white;
    height: 5rem;
    margin: 0;
    justify-content: center;
    align-items: center;
    
}

.planty-class li {
    display: flex;
    
}

.planty-class a {
    text-decoration: none;    
}

.button-ok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 56px;
    background-color: #DC9F96; 
    border-radius: 10px;
    border: none;
    color: white;
}

/* Responsive boutons commande*/

@media (max-width: 990px) {
    .button-ok {
        width: 80px;
    }
    .container-quantity {
        width: 60px;
    }
}

@media (max-width: 400px) {
    .button-ok {
        width: 100px;
    }
    .container-quantity {
        width: 150px;
    }
    .item-quantity {
        width: 60px;
    }
    .plus-minus {
        width: 40px;
    }
}
/* fin responsive boutons commande */

/* style hook menu admin */

#menu-item-410 {
    order: 1;
}

#menu-item-410 a {
    background-color: #DC9F96;
    color: white;
}

/* fin style hook menu admin */