.container-quantity {
    width: 82px;
    height: 56px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    border: 0 solid white;
  }
  
  .item-quantity {
    width: 51px;
    height: 56px;
    color: black;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 10px 0 0 10px;
    background-color: white;
  }
  
  .plus-minus {
    display: flex;
    justify-content: center;
    width: 31px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .item-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #DC9F96;  
    border-bottom: 0.5px solid white;
    border-radius: 0 10px 0 0;
    color: white;
    
  }
  .item-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    background-color: #DC9F96;  
    border-top: 0.5px solid white;
    border-radius: 0 0 10px 0;
    color: white;
  }